.messages-grid {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.messages-grid-create-message-form {
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 15px;
    bottom: 0;
    background-color: #76597d;
    width: 35%;
    margin-left: 33%;
    padding: 10px 10px 20px 10px;
}