/* TODO Add site wide styles */
/* font-family: 'Nunito Sans', sans-serif; */

body {
    margin: 0;
    height: 690px;
    margin-left: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A98DAF;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 10pt;
    overflow-y: hidden;
    overflow-x: hidden;
}

a {
    color: #410c4d;
    text-decoration: none;
}

a:hover {
    color: #641874;
    text-decoration: none;
}

button {
    color: rgb(230, 180, 231);
    background-color: #76597d;
    border: 1px solid rgb(230, 180, 231);
    border-radius: 5px;
}

button:hover {
    color: rgb(254, 254, 254);
    border: 1px solid rgb(254, 254, 254);
}

.app-photo-element-cloud-one::before {
    content: url("./images/2.png");
    display: block;
    position: absolute;
    margin-left: -660px;
    margin-top: 140px;
    animation: animateUpDown 2s infinite alternate;
}

@keyframes animateUpDown {
    from { transform: translateY(0); }
    to { transform: translateY(-18px); }
}

.app-photo-element-stars-one::before {
    content: url("./images/3.png");
    display: block;
    position: absolute;
    margin-left: -650px;
    margin-top: 170px;
    animation: animateUpDown 3s infinite alternate;
}

.app-photo-element-cloud-two::before {
    content: url("./images/1.png");
    display: block;
    position: absolute;
    margin-top: -340px;
    margin-left: 250px;
    z-index: 0;
    animation: animateUpDown 3s infinite alternate;
}

.app-photo-element-stars-two::before {
    content: url("./images/4.png");
    display: block;
    position: absolute;
    margin-left: 280px;
    margin-top: -310px;
    animation: animateUpDown 2s infinite alternate;
}

.app-photo-element-stars-three::before {
    content: url("./images/3.png");
    display: block;
    position: absolute;
    margin-left: 550px;
    margin-top: -200px;
    animation: animateUpDown 2s infinite alternate;
}

.app-logo::before {
    content: url("./images/eris.png");
    display: block;
    position: absolute;
    height: 30%;
    margin-top: 235px;
    left: 50%;
    transform: translateX(-50%);
}

.app-footer {
    display: block;
    position: fixed;
    height: 30%;
    margin-top: 305px; /* COMMENT BACK IN LATER */
    /* margin-top: 315px; */
    left: 50%;
    transform: translateX(-51%);
    color: white;
    text-align: center;
}

#app-footer-logo {
    color: white;
}

iframe {
    width: 20%;
    height: 100px;
    position: fixed;
    top: 10%;
    left: 40%;
    border: none;
}