.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.navigation-bar-logged-out {
  margin: 0;
  position: absolute;
  margin-top: -260px;
  margin-left: 540px;
  z-index: 1;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation-bar-logged-in {
  margin: 0;
  position: absolute;
  margin-top: -250px;
  margin-left: 450px;
  z-index: 1;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation-home-button {
  color: rgb(230, 180, 231);
}

.navigation-home-button-none {
  display: none;
}

.navigation-home-and-profile-button-div {
  display: flex;
}

ul li button {
  background-color: #92729b;
}

ul {
  list-style-type: none;
}

.profile-dropdown {
  text-align: center;
  width: 125px;
  position: absolute;
  margin-left: -73px;
  border-radius: 10px;
  background-color: #92729b;
  border: solid 1px rgb(230, 180, 231);
  padding-left: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.profile-button-profile-dropdown-logged-in {
  text-align: center;
  width: 125px;
  position: absolute;
  margin-left: -50px;
  border-radius: 10px;
  background-color: #92729b;
  border: solid 1px rgb(230, 180, 231);
  padding-left: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.profile-button-username-email {
  margin-bottom: 3px;
}
