.homepage-photo-element-city {
    content: url("../../images/5.png");
    display: block;
    position: fixed;
    margin-left: -685px;
    /* margin-top: -285px; */
    animation: animateUpDown 2s infinite alternate; /* DO NOT DELETE */
    margin-top: -300px; /* DO NOT DELETE */
    background-color: #8b6e92;
    border-radius: 15px;
    width: 1390px;
    height: 600px;
    z-index: 0;
    /* opacity: 90%; */
}

.homepage-body-text {
    position: fixed;
    z-index: 1;
    color: white;
    margin-top: -180px;
    /* margin-top: -190px; */ /* DO NOT DELETE */
    margin-left: -190px;
    z-index: 0;
    /* animation: animateUpDown 2s infinite alternate; */ /* DO NOT DELETE */
}