.server-grid-channel-grid-message-grid {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.server-grid {
    margin-left: 30px;
    margin-right: -6rem;
}

/* .channel-grid {
    margin-right: -4rem;
} */

.message-grid {
    margin-bottom: -25rem;
}