.server-grid-channel-grid-message-grid {
    display: flex;
    position: fixed;
    top: 80px;
    transform: translateX(-50%); 
    height: 500px;
    width: 75vw;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #8b6e92;
    border-radius: 15px;
    opacity: 80%;
}

.server-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    transform: translateX(50%);
    height: 84%;
    width: 9%;
    margin-left: -3%;
}

.server-grid-channel-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    height: 100%;
    width: 20%;
    background-color: rgb(133, 101, 141);
    overflow-y: auto;
    margin-right: -10px;
    margin-left: 60px;
}

.server-grid-message-grid {
    height: 100%;
    width: 80%;
    margin-left: 10px;
    background-color: #7a5e81;
    overflow-y: auto;
}