.server-grid-channel-grid-message-grid {
    display: flex;
    position: fixed;
    top: 100px; /* Adjust the value to set the desired distance from the top of the page */
    left: 50%; /* Adjust the value to set the desired horizontal position */
    transform: translateX(-50%); 
    align-items: center;
    height: 70%;
    width: 80%;
    overflow-y: scroll;
    background-color: #8b6e92;
    border-radius: 15px;
    opacity: 80%;
}

.server-grid {
    margin-left: 30px;
    height: 100%;
    width: 5%;
}

.server-grid-channel-grid {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    margin-left: 60px;
}

.server-grid-message-grid {
    height: 100%;
    margin-left: 60px;
    margin-top: 15px;
}